<!-- <header> -->
<nav>
<div class="nav-wrapper grey darken-3">
  <a href="#!"  class="brand-logo"><i class="material-icons">blur_on</i>Parameter Tuning</a>
</div>
</nav>

<div class="container">
    <h3 id="title">Run Project</h3>
    <h4 id="sub-title">Run Project</h3>

    <div class="progress">
        <div class="determinate" id="progress" style="width: 0%"></div>
    </div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">folder</i>
          Loading instances
          <span class="badge" id="loadInstances">Pending...</span></div>
      </li>

      <li>
        <div class="collapsible-header">
          <i class="material-icons">settings</i>
          Starting BCAP
          <span class="badge" id="startingBCAP">Pending...</span></div>
      </li>

      <li>
        <div class="collapsible-header">
            <i class="material-icons">find_replace</i>
            Configuring Target Algorithm
            <span class="badge" id="configuring">Pending...</span></div>
            <div class="collapsible-body">
                <div class="progress" id="progress-container">
                    <div class="indeterminate"></div>
                </div>
                <table class="striped responsive-table" id="table-results">
                  <thead>
                    <tr id="table-results-head">
                    </tr>
                  </thead>

                  <tbody id="table-results-body">
                  </tbody>
                </table>
                <!-- <pre>
                    <code id="stdout"></code>
                </pre> -->
            </div>
      </li>

      <li>
        <div class="collapsible-header">
              <i class="material-icons">done</i>
              Results
              <span class="badge" id="finishing">Pending...</span>
        </div>
        <div class="collapsible-body">
            <div class="row">
                    <h3 class="card-title">Best Configuration Found</h3>
                    <p>The following configuration was obtained: </p>
                      <table class="striped responsive-table" id="table-best-results">
                      <thead>
                        <tr id="table-best-results-head">
                        </tr>
                      </thead>

                      <tbody id="table-best-results-body">
                      </tbody>
                    </table>
                    <p>which solves <b id="solved-instances">666</b> instances of <b id="num-instances">999</b> provided.</p>
            </div>
        </div>
      </li>

    </ul>

</div>


<script>
    Blink.msg("init", "init please...")
    M.AutoInit();

</script>
